# Installed inside the container, not copied from host
node_modules

# We build inside the container
dist
.astro

# Test results and coverage
playwright-results
lighthouse-reports
coverage

# Git and CI/CD
.git
.github
.gitignore

# Analysis and dependency tools
sonar-project.properties

# Environment files (runtime injected)
.env
.env.*

# IDE and OS files
.vscode
.idea
.DS_Store
*.swp
*.swo

# Docker and Build files
docker/Dockerfile*
docker/docker-compose*.yml
.dockerignore
Makefile
image.tar.gz

# Documentation
README.md
LEARNING.md
LICENSE
