# General
.DS_Store
node_modules/
dist/

# Astro
.astro/
*.tsbuildinfo

# Docker
.env
.env.*
!.env.example
!.env.versions

# Test results
playwright-results/
lighthouse-reports/

# My own bitacora
LEARNING.md
